.headroom-wrapper {
    margin-bottom: 1em;
}

Header {
    text-align: left;
    align-content: center;
    font-size: xx-large;
    padding-block-start: 0.3em;
    padding-block-end: 0.3em;
    background-color: var(--background-colour);
}

#header-bar {
  width: 100%;
  height: 0.1em;
  padding-bottom: 0.2em;
  background:var(--theme-colour);
  margin: auto;
  margin-bottom: 0.3em;
}

.media-widget {
  padding-left: 0.2em;
  height: 1em;
  float: right;
}